PRIVATE_KEY=
# SCROLL_TESTNET_URL=https://prealpha-rpc.scroll.io/l2 - Uncomment this line to use the pre-alpha instead of alpha
SCROLL_TESTNET_URL=https://alpha-rpc.scroll.io/l2
MUMBAI_RPC=
POLYGONSCAN_API_KEY=
