.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 22, 61, 0.082);
    z-index: 99;
    backdrop-filter: blur(4px);

}

.Modal {
    display: flex;
    background-color: blue;
        z-index: 100;
}
@keyframes spawn {
    0% {
        transform: scale(0.8) translate(-50%, -50%) rotateY(90deg);
        opacity: 0%;
    }

    100% {
        transform: scale(1) translate(-50%, -50%) rotateY(0deg);
        
        opacity: 100%;
    }
}
.island {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    perspective: 2cm;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 1, 58);
    z-index: 100;
    background-color: white;
    padding: 32px;
    animation: 300ms ease-out spawn
}

.nft {
    border-radius: 6px;
    width: 256px;
}
.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cneter;
    margin-top: 32px;
}
.status {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        perspective: 2cm;
        border-radius: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;


    font-size: 16px;
    width: fit-content;
    word-wrap: break-word;
    flex-wrap: wrap;
    font-family: "Inter";
    background-color: rgb(222, 235, 255);
    padding: 8px 32px 8px 32px;
    color: rgb(0, 24, 75);
    border: solid 1px rgba(0, 19, 80, 0.205);
    border-radius: 6px;
    
}

.status > a {
    text-decoration: none;
    color: rgb(0, 81, 255);
}
.input {
    padding: 12px;
    margin: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}


.mint {
    background-color: rgb(0, 209, 122);
    color: white;
    padding: 8px 32px 8px 32px;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 12px;
    width: 70%;
    text-align: center;
    transition: 300ms;
}

.mint:hover{
    background-color: rgb(0, 190, 133);
}

.minting {
    background-color: rgb(32, 121, 87);
    color: white;
    padding: 8px 32px 8px 32px;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 12px;
    width: 70%;
    text-align: center;
    transition: 300ms;
}